<p>Usé estos recursos fantásticos para construir el sitio web de Smockle. Por favor mire las obras de estos creadores de contenidos; ¡ellos mejoran el Internet!</p>
<p><a href="http://twitter.github.com/bootstrap/">Twitter Bootstrap</a> // Red y CSS básico.</p>
<p><a href="http://github.com/thomas-mcdonald/bootstrap-sass">Twitter Boostrap SASS</a> // SASS por Twitter Bootstrap.</p>
<p><a href="http://fortawesome.github.com/Font-Awesome/">Font Awesome</a> // Fuente de iconos.</p>
<p><a href="https://github.com/littlebtc/font-awesome-sass-rails">Font Awesome SASS Rails</a> // SASS por Font Awesome.</p>
<p><a href="http://subtlepatterns.com/pinstripe/">Patrón a rayas</a> // Patrón a rayas de Subtle Patterns.</p>
<p><a href="http://www.pixeden.com/graphic-web-backgrounds/wood-pattern-background">Patrón de madera</a> // Patrón de madera de Pixeden.</p>
