<p>I used the following amazing resources to build the Smockle website. Please check out the work of these content creators; they're making the web a better place!</p>
<p><a href="http://twitter.github.com/bootstrap/">Twitter Bootstrap</a> // Grid and base CSS.</p>
<p><a href="http://github.com/thomas-mcdonald/bootstrap-sass">Twitter Boostrap SASS</a> // Twitter Bootstrap in SASS form.</p>
<p><a href="http://fortawesome.github.com/Font-Awesome/">Font Awesome</a> // Icon font.</p>
<p><a href="https://github.com/littlebtc/font-awesome-sass-rails">Font Awesome SASS Rails</a> // Font Awesome in SASS form.</p>
<p><a href="http://subtlepatterns.com/pinstripe/">Pinstripe Pattern</a> // Pinstripe pattern from Subtle Patterns.</p>
<p><a href="http://www.pixeden.com/graphic-web-backgrounds/wood-pattern-background">Wood Pattern</a> // Wood pattern from Pixeden.</p>
