<h3 class="section-title">Here are my feeds:</h3>
<div class="section-third">
<article class="feed">
    <img class="feed-content" src="<%= @instagram.html_safe %>">
    <cite class="feed-source">via <a href="https://instagram.com/claydm">Instagram</a></cite>
</article>
</div>
<div class="section-third section-third--double">
<article class="feed">
    <blockquote class="feed-content"><%= @twitter.html_safe %></blockquote>
    <cite class="feed-source">via <a href="https://twitter.com/smockled">Twitter</a></cite>
</article>
<article class="feed">
    <blockquote class="feed-content"><%= @stackoverflow.html_safe %></blockquote>
    <cite class="feed-source">via <a href="https://stackoverflow.com/users/1923134/smockle">Stack Overflow</a></cite>
</article>
<article class="feed">
    <blockquote class="feed-content"><%= @github.html_safe %></blockquote>
    <cite class="feed-source">via <a href="https://github.com/smockle">Github</a></cite>
</article>
</div>