<ul>
	<li>HTML5</li>
	<li>CSS3 and SASS</li>
	<li>JavaScript and jQuery</li>
	<li>C# and ASP.NET MVC</li>
	<li>Ruby and Rails</li>
	<li>Git</li>
	<li>Twitter&trade; Bootstrap</li>
	<li>WordPress&trade;</li>
	<li>Adobe&reg; Photoshop&reg; and Illustrator&reg;</li>
	<li>English and Spanish fluency (written and spoken)</li>
</ul>