<p>Hola! Me llamo Clay y construyo el Internet. Ayudo a los individuos, las universidades, los negocios y iglesias conectar con amigos y clientes en Internet, y también quiero ayudarlo. Si quiere trabajar juntos para mejorar un sitio web existente o para crear algo nuevo, es fácil empezar. <a href="contact">MUY FÁCIL.</a></p>

<p>Si no está preparado, vea mi <a href="projects">cartera</a>. Podía ver una colección de mis mejores trabajos y podía leer testimonios de mis clientes anteriores.</p>

<p>Para la información más reciente de Smockle, <a href="https://twitter.com/SmockleWeb">sígame en Twitter</a>. ¿Quieres más? Lea artículos informativos sobre el Internet en <a href="blog">el blog</a>.</p>