<p>Hello! My name is Clay and I build the Internet. I've helped individuals, universities, businesses, and churches connect with friends and customers online, and I want to help you too. Whether you'd like to work together to improve an existing website or create something new, getting started is easy. <a href="contact">REALLY EASY.</a></p>

<p>If you're not quite ready to dive in, browse my <a href="projects">portfolio</a>. You'll see a showcase of my best work, and can read testimonials from my past clients.</p>

<p>For the latest information about what's happening at Smockle, <a href="https://twitter.com/SmockleWeb">follow me on Twitter</a>. Want more? Read in-depth articles about the web on <a href="blog">the blog</a>.</p>