<ul>
	<li>HTML5</li>
	<li>CSS3 y SASS</li>
	<li>JavaScript y jQuery</li>
	<li>C# y ASP.NET MVC</li>
	<li>Ruby y Rails</li>
	<li>Git</li>
	<li>Twitter&trade; Bootstrap</li>
	<li>WordPress&trade;</li>
	<li>Adobe&reg; Photoshop&reg; e Illustrator&reg;</li>
	<li>Inglés y español (escrito y hablado)</li>
</ul>