<div class="row nav">
	<div class="span12">
		<div class="btn-group">
			<a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
				<span class="social"><%=t :social_big %></span>
				<span class="caret"></span>
			</a>
			<ul class="dropdown-menu">
				<li><a href="https://graph.facebook.com/brent/feed?link=http://developers.facebook.com/docs/reference/dialogs/&picture=http://fbrell.com/f8.jpg&name=Smockle&caption=I%20build%20the%20Internet&description=I%20build%20the%20Internet.&"><i class="icon-facebook-sign icn-mini"></i> Facebook</a></li>
				<li><a href="https://twitter.com/share" data-via="SmockleWeb"><i class="icon-twitter-sign icn-mini"></i> Twitter</a></li>
				<li><a href="https://plus.google.com/share?url=http%3A%2F%2Fsmockle.com"><i class="icon-google-plus-sign icn-mini"></i> Google+</a></li>
			</ul>
		</div>


		<div class="btn-group">
			<a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
				<span class="coffee"><%=t :coffee_big %></span>
				<span class="caret"></span>
			</a>
			<ul class="dropdown-menu">
				<li><a href="http://flattr.com/thing/1075860/Smockle"><i class="icon-flattr icn-mini"></i> Flattr</a></li>
				<li><a class="paypal-form"><i class="icon-paypal icn-mini"></i> PayPal</a>
				  <form class="paypal-form" action="https://www.paypal.com/cgi-bin/webscr" method="post">
  				<input type="hidden" name="cmd" value="_s-xclick">
  				<input type="hidden" name="hosted_button_id" value="MA95GF4R4F3YN">
  				<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
  				</form>
  		  </li>
			</ul>
		</div>

		<div class="btn-group">
			<a class="btn lang"><%=t :language %></a>
		</div>
	</div>
</div>