<section class="credits">
	<div class="container">
		<%= render "nav" %>
	
		<div class="row">
			<h1 class="span12"><%=t :credits %></h1>
		</div>
	
		<div class="row">
			<div class="span6">
  			<%= render "credits_message" %>
			</div>
		</div>
		
		<div class="row">
			<a class="span12 icn" href="/<%= I18n.locale %>/home/index"><i class="icon-home"></i></a>
		</div>	
	</div>
</section>