<section class="intro">
	<div class="container">
	<%= render "intro" %>
	</div>
</section>

<section class="projects">
	<div class="container">
	<%= render "projects" %>
	</div>
</section>

<section class="contact">
	<div class="container">
	<%= render "contact" %>
	</div>
</section>

<section class="blog">
	<div class="container">
	<%= render "blog" %>
	</div>
</section>