<section id="worka">
  <h3>Faculty Profiles</h3>
	<div>
    <blockquote>"Lorem ipsum isom dolor sit amet consecuitor."</blockquote>
  	<p>I discuss project details with my clients and then create basic site mockups. I use CSS, LESS and SASS to deliver premier web experiences.</p>
  	<blockquote>"Amet dolor garadaunit velar oslo tekken vealor repuscuitancious."</blockquote>
  	<p>I build websites using Ruby on Rails or ASP.NET MVC. I've written a few jQuery plugins, and I've also set up WordPress blogs.</p>
	</div>
	<div>
  	<div class="image"></div>
	</div>
</section>