<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  
  <body>
    <h3>Thanks for your message!</h3>
    
    <p>Your message was sent successfully. I'll read it and get back to you within twenty-four hours. How exciting! Until then, have a lovely day.</p>
    
    <p>Clay Miller<br />
    Lead Developer<br />
    Smockle, LLC.</p>
  </body>
</html>