<p>Dear Smockle,</p>
<p><%= @message.content %></p>
<p style="margin: 0; padding: 0;">Sincerely,</p>
<p style="margin: 0; padding: 0;"><%= @message.name %></p>
<p style="margin: 0; padding: 0;"><%= @message.email %></p>