.twitter p:not(:first-of-type) {
  margin-top: 20px;
}

.twitter-user {
  font-weight: bold;
}

.twitter-sn {
  color: $grayLight;
  font-size: $fontSizeSmall;
}

.twitter-icon {
  color: $grayLight;
  display: block;
  text-align: center;
}