//
// FLEX
//

.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* HACK: Firefox doesn't support flex-wrap, so we must compensate. */
.flex, x:-moz-any-link {
  display: block;
}

.flex-title {
  flex-basis: 100%;
  width: 100%;
}

.flex-content {
  flex-basis: 100%;
  width: 100%;
}

/* HACK: Firefox doesn't support flex-wrap, so we must compensate. */
.flex-content, x:-moz-any-link {
  display: inline-block;
  vertical-align: top;
}

.flex-content p {
  text-align: left;
}

//
// MEDIA QUERIES
//

@media screen and (min-width: 50em) {
  .flex-content {
    flex-basis: 30.5%;
    width: 30.5%;
  }
  
  /* HACK: Firefox doesn't support flex-wrap, so we must compensate. */
  .flex-content:nth-of-type(3n+1), x:-moz-any-link {
    margin-right: 3.3%;
  }
  
  /* HACK: Firefox doesn't support flex-wrap, so we must compensate. */
  .flex-content:nth-of-type(3n+2), x:-moz-any-link {
    margin-right: 3.3%;
  }
  
  .flex-double {
    max-width: 65.3%;
    width: 65.3%;
  }
  
  /* HACK: Firefox doesn't support flex-wrap, so we must compensate. */
  .flex-double:nth-of-type(3n+2), x:-moz-any-link {
    margin-right: 0%;
  }
}

//
// COLORS
//

.section.section--black,
.section:nth-of-type(3n+1) {
  background-color: $black;
  color: white;

  .flex-title {
      color: $gray;
  }
  
  a:hover {
    color: $text;
  }
}

.section.section--gray,
.section:nth-of-type(3n+2) {
  background-color: $beige;
  color: $black; 
}

.section.section--white,
.section:nth-of-type(3n+3) {
  background-color: white;
  color: $text;
  
  .flex-title {
    color: $text;
  }

  .flex-subtitle {
    color: $gray;
  }
}