//
// .FORM
//

.form-wrapper {
  margin: 0 auto;
  text-align: left;
  width: 100%;
}

.form-wrapper h4 {
  text-align: left;
}

.form-textarea {
  height: 20rem;
  margin-bottom: 1rem;
  width: 100%;
}

.form-controls {
  display: flex;
  justify-content: flex-start;
  margin: 0;
  width: 100%;
  flex-wrap: wrap;
}

/* HACK: Firefox doesn't support flex-wrap, so we must compensate. */
.form-controls, x:-moz-any-link {
  display: block;
}

.form-label {
  padding-bottom: 1rem;
}

/* HACK: Firefox doesn't support flex-wrap, so we must compensate. */
.form-label, x:-moz-any-link {
  display: block;
}

.form-field,
.form-button {
  margin-bottom: 1rem;
}

.form-field:nth-of-type(1) {
  flex-basis: 100%;
  width: 100%;
}

.form-field:nth-of-type(2) {
  flex-basis: 75%;
  width: 75%;
}

/* HACK: Firefox doesn't support flex-wrap, so we must compensate. */
.form-field:nth-of-type(2), x:-moz-any-link {
  width: 100%;
}

.form-button {
  background: $black;
  border: 1px solid $black;
  color: white;
  flex-basis: 25%;
  font: 0.9rem/1rem $font;
  padding: .5rem;
  position: relative;
  text-align: center;
  width: 25%;
}

//
// MEDIA QUERIES
//

@media screen and (min-width: 50em) {
  .form-wrapper {
    width: 80%;
  }
  
  .form-controls {
    margin-left: 60%;
    width: 40%;
  }
}