.icon-flattr {
  background-image: url("/assets/icon-flattr.svg");
  background-repeat:no-repeat;
  background-position:center; 
  background-size: 16px;
  height: 22px;
  vertical-align: bottom;
}

form.paypal-form {
  display: none;
}

.nav {
  text-align: right;
}

.nav .btn-group {
  text-align: left;
  
	&.open .dropdown-toggle {
		background: $linkColorHover;
		@include box-shadow(none);	
	}
	
	> .btn {
		background: $linkColor;
		border: none;
		border-top-left-radius: 0;
		border-top-right-radius: 0;
		border-bottom-left-radius: 10px;
		border-bottom-right-radius: 10px;
		color: white;
		cursor: pointer;
		display: inline-block;
		padding: 10px 14px;
		text-shadow: none;
		@include box-shadow(none);

		&:hover {
			background: $linkColorHover;			
		}
				
		> .caret {
			border-top-color: white;
			margin-left: 8px;
			@include respond-to(small-screens) { margin-left: 5px; }
		}
	}
	
	> .dropdown-menu li > a {
		padding: 3px 8px;
	}
}