.thumbnails {
	margin-top: 10px;
	
	> li {
  	margin-bottom: 0;
  	
  	&.project-image:not(:first-of-type) {
      display: none;
    }
  	
  	> .thumbnail {
      max-height: 400px;
      overflow: hidden;
    }
	}
}

.projects {
  & h3 {
    line-height: 20px;
  }
  
  & blockquote {
    color: $grayLight;
    font-style: italic;
    margin: 30px 0;
  }
}