//
// .SECTION
//

.section {
  text-align: center;
  padding: 5%;
}

//
// MEDIA QUERIES
//

@media screen and (min-width: 50em) {
  .section {
      padding: 5% 10%;
  }
}

@media screen and (min-width: 75em) {
  .section {
    padding: 5% 15%;
  }
}