//
// .SECTION
//

.section {
  text-align: center;
  padding: 5%;
}

.section > .flex {
  margin: 0 auto;
  max-width: $max-width;
}

.section-title {
  color: $gray;
}

//
// MEDIA QUERIES
//

@media screen and (min-width: 50em) {
  .section {
      padding: 4.4rem 10%;
  }
}