//
// .THUMBNAIL
//

.thumbnail {
  padding-bottom: 2rem;
}

.thumbnail-title {
  margin-bottom: 0.5rem;
}

.thumbnail-body {
  border: 1px solid $gray;
  display: block;
  margin: 0 auto;
  max-height: 158px;
  max-width: 305px;
  position: relative;
}

.thumbnail-body:hover:before {
  background: rgba(0, 0, 0, 0.6);
  color: white;
  content: "\e800";
  font-size: 3rem;
  font-family: "fontello";
  left: 0;
  opacity: .5;
  text-align: center;
  padding-top: 3rem;
  position: absolute;
  top: 0;
  height: 5.8rem;
  width: 100%;
}

.thumbnail-image {
  display: block;
  height: 10rem;
  margin: 0 auto;
  max-height: 158px;
  z-index: -1;
}