//
// .THUMBNAIL
//

.thumbnail {
}

.thumbnail-title {
}

.thumbnail-body {
  border: 1px solid $gray;
  display: block;
  margin: 0 auto;
  max-height: 158px;
  max-width: 255px;
  width: 80%;
}

.thumbnail-body:hover {
  background: rgba(0, 0, 0, 0.5);
}

.thumbnail-body:hover:before {
  color: white;
  content: "\1f50d";
  font-size: 3rem;
  font-family: "fontello";
  left: 50%;
  margin: -.8rem 0 0 -1.5rem;
  opacity: .5;
  position: absolute;
  top: 50%;
}

.thumbnail-image {
  display: block;
  height: 10rem;
  margin: 0 auto;
  max-height: 158px;
  max-width: 255px;
  position: relative;
  vertical-align: bottom;
  width: 100%;
  z-index: -1;
}