/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 */

@import "../../../vendor/assets/stylesheets/bootstrap";
@import "../../../vendor/assets/stylesheets/bootstrap-responsive";

$break-small: 480px;
$break-large: 768px;
$break-xlarge: 1200px;

@mixin respond-to($media) {
  @if $media == small-screens {
    @media only screen and (max-width: $break-small) { @content; }
  }
  @else if $media == medium-screens {
    @media only screen and (min-width: $break-small + 1) and (max-width: $break-large - 1) { @content; }
  }
  @else if $media == large-screens {
    @media only screen and (min-width: $break-large) { @content; }
  }
  @else if $media == xlarge-screens {
    @media only screen and (min-width: $break-xlarge) { @content; }
  }
}

.icn-mini {
	font-size: 22px;
	line-height: 22px;
}

.icn-small {
	font-size: 32px;
	line-height: 32px;
	text-align: center;
}

.icn {
	font-size: 64px;
	line-height: 64px;
	text-align: center;	
}

.icn-large {
	font-size: 128px;
	line-height: 128px;
}

.icn-xlarge {
	font-size: 512px;
	line-height: 416px;
	@include respond-to(small-screens) { font-size: 256px; line-height: 256px; }
}

.vcenter {
    vertical-align: middle;
    position: absolute;
    bottom: 50%;
}

.vbottom {
	position: absolute;
	bottom: 0;
}

a {
	cursor: pointer;
	&:hover { text-decoration: none; }
}

ul, ol {
	margin: 0 0 10px 18px;
}

input[class*="span"] {
  height: 30px;
}

input[class*="span"], select[class*="span"], textarea[class*="span"] {
  box-sizing: border-box;
  width: 100%;
}

body {
	background-image: url("/assets/fg.png");
	clear: both;
	overflow-x: hidden;
	padding: 0;
	@include respond-to(large-screens) { padding: inherit; }

	.row {
		position: relative
	}
	
	> section {
		&:after {
		  background: url("/assets/bg.png");
			background-size: auto;
			background-position: center center;
			background-repeat: repeat;
			background-attachment: fixed;
			box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.6);
			content: "";
			display: block;
			height: 200px;
			@media only screen and (min-device-width: 768px) and (max-device-width: 1024px), only screen and (min-device-width: 320px) and (max-device-width: 480px) { background-attachment: scroll; }
		}
		
		> .container > .row {
			padding: 0 20px;
			@include respond-to(large-screens) { padding: inherit; }
		}
	}
	
	footer .row {
		min-height: 200px;
		text-align: center;		
	}
}

@import "nav";
@import "intro";
@import "projects";
@import "contact";
@import "blog";
