/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= depend_on fontello.css
 *= depend_on home.less
 *= depend_on errors.less
 */

// Colors
@red: #c3363c;
@black: #282828;
@beige: #eff2f4;
@gray: #a7a7a7;
@text: #5b5b5b;

// Fonts
@font: "Helvetica Neue", Helvetica, Arial, sans-serif;
@import "fontello.css";

// Selection
::selection {
	color: white;
	background: @red;
}

::-moz-selection {
	color: white;
	background: @red;
}

body {
	background-color: @black;
	color: white;
	font-family: @font;
	margin: auto;
	
	a {
  	color: @red;
		text-decoration: none;
    
    &:hover {
  	  color: @text;
    }
	}

	h1 a {
  	color: white;
    
    &:hover {
      color: @gray;
    }
	}

	h2 {
		font: 200 3.5rem/4.9rem @font;
		margin: 0 0 1rem 0;
	}
	
	h3 {
		font: 200 1.8rem @font;
		margin: 0 0 2rem 0;
		text-align: center;
	}
	
	h4 {
		font: 200 1.2rem @font;
		margin: 0 0 1rem 0;
		text-align: center;
	}
	
  i {
					display: block;
					font-size: 9rem;
					text-align: center;
					
					@media screen and (min-width: 75em) {
						font-size: 12rem;
					}
				}
	
	input, select, textarea {
		border: 1px solid @black;
		box-sizing: border-box;
		font: .9rem/1.6rem @font;
		height: 2rem;
		padding: 1rem;
	}
	input:focus, select:focus, textarea:focus {
		outline: 2px solid @red;
	}
	
	p {
		font: .9rem/1.6rem @font;
	}

	header {
		background-color: @black;
		padding: 0 5%;
		position: static;
		width: auto;
		z-index: 2;
		
		@media screen and (min-width: 50em) {
			padding: 0 15%;
			position: fixed;
			width: 70%;
			top: 0;
		}
		
		h1 {
			display: block;
			font: 2.2rem "Pacifico", serif;
			letter-spacing: .1rem;
			
			@media screen and (min-width: 50em) {
				display: inline-block;
			}
		}
		
		nav {
			display: block;
			font: bold .8rem @font;
			margin-top: 3rem;
			position: relative;
			
			@media screen and (min-width: 50em) {
				display: inline-block;
				right: 15%;
				top: 0;
				position: fixed;
			}
			
			a {
				color: white;
				margin-left: .8rem;
				padding: .4rem  0;
				
				&:first-of-type {
					margin-left: 0;
				}
				
				&.active {
					border-bottom: 2px solid @red;
				}
			}
		}
	}

	section {
		text-align: center;
		padding: 5%;
		
		@media screen and (min-width: 50em) {
			padding: 5% 10%;
		}
		
		@media screen and (min-width: 75em) {
			padding: 5% 15%;
		}

		&:nth-of-type(3n+1) {
			background-color: @black;
			color: white;
		
			h3 {
				color: @gray;
			}
			
			a:hover {
  		  color: @text;
  		}
		}
	
		&:nth-of-type(3n+2) {
			background-color: @beige;
			color: @black;
		}
		
		&:nth-of-type(3n+3) {
			background-color: white;
			color: @text;
		}
  }
  	
	footer {
		color: @gray;
		padding: 2% 0;
		text-align: center;
	}
}

@import "home";
@import "errors";