/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= depend_on _normalize.scss
 *= depend_on _fontello.scss
 *= depend_on _base.scss
 *= depend_on _section.scss
 *= depend_on _thumbnail.scss
 *= depend_on _feed.scss
 *= depend_on _form.scss
 *= depend_on home.scss
 *= depend_on errors.scss
 */

//
// NORMAALIZE
//

@import "_normalize";

//
// COLORS
//

$red: #c3363c;
$black: #282828;
$beige: #eff2f4;
$gray: #a7a7a7;
$text: #5b5b5b;

//
// FONTS
//

$font: "Helvetica Neue", Helvetica, Arial, sans-serif;
@import "_fontello";

//
// SELECTION
//

::selection,
::-moz-selection {
	color: white;
	background: $red;
}

//
// BASIC TAGS
//

@import "_base";

//
// HEADER
//

header {
  background-color: $black;
  padding: 0 5%;
  position: static;
  width: auto;
  z-index: 2;
	
  nav {
    display: block;
    font: bold .8rem $font;
    margin-top: 3rem;
    position: relative;
  }
  
  a {
    color: white;
    margin-left: .8rem;
    padding: .4rem  0;
    
    &:hover {
      color: $gray;
    }
  
    &.active {
      border-bottom: 2px solid $red;
    }
  }

  .site-logo {
    margin-left: 0;
  }
}
  
//
// FOOTER
//

footer {
  color: $gray;
  padding: 2% 0;
  text-align: center;
}

//
// MEDIA QUERIES
//

@media screen and (min-width: 50em) {
  header {
    padding: 0 15%;
    position: fixed;
    width: 70%;
    top: 0;
  }
  
  header nav {
    display: inline-block;
    right: 15%;
    top: 0;
    position: fixed;
  }
}

//
// PARTIALS
//

@import "_section";
@import "_thumbnail";
@import "_feed";
@import "_form";

//
// PAGE-SPECIFIC
//

@import "home";
@import "errors";