/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= depend_on _fontello.scss
 *= depend_on _base.scss
 *= depend_on _section.scss
 *= depend_on _flex.scss
 *= depend_on _loading.scss
 *= depend_on _thumbnail.scss
 *= depend_on _feed.scss
 *= depend_on _form.scss
 *= depend_on home.scss
 *= depend_on errors.scss
 */

//
// COLORS
//

$red: #c3363c;
$black: #282828;
$beige: #eff2f4;
$gray: #a7a7a7;
$text: #5b5b5b;

//
// SIZES
//

$max-width: 1008px;

//
// FONTS
//

$font: "Helvetica Neue", Helvetica, Arial, sans-serif;
@import "_fontello";

//
// SELECTION
//

::selection {
	color: white;
	background: $red;
}

::-moz-selection {
	color: white;
	background: $red;
}

//
// BASIC TAGS
//

@import "_base";

//
// HEADER
//

header.section {
  padding: 0 5%;
  position: static;
  z-index: 2;
}

header > .flex {
  align-items: center;
}

.site-nav {
  flex-wrap: nowrap;
  font: normal .8rem $font;
  width: 16rem;
}

.site-nav a {
  display: inline-block;
  padding: .2rem 0;
}

header a {
  color: white;
  
  &:hover {
    color: $gray;
  }

  &.active {
    border-bottom: 2px solid $red;
  }
}

//
// FOOTER
//

footer {
  color: $gray;
  padding: 2% 0;
  text-align: center;
}

//
// .NO-FLEXWRAP
// HACK: Firefox doesn't support flex-wrap, so we must compensate.
//

.no-flexwrap .site-logo {
  text-align: left;
  width: 100%;
}

.no-flexwrap .site-nav {
  text-align: left;
  width: 100%;
}

.no-flexwrap .site-nav a {
  margin-right: 3.3%;
}

//
// MEDIA QUERIES
//

@media screen and (min-width: 50em) {
  header.section {
    padding: 0 10%;
    position: fixed;
    width: 80%;
    top: 0;
  }
}

//
// MEDIA QUERIES .NO-FLEXBOX
// HACK: Firefox doesn't support flex-wrap, so we must compensate.
//

@media screen and (min-width: 440px) {
  .no-flexwrap header .flex {
    display: flex;
  }

  .no-flexwrap .site-logo {
    text-align: inherit;
    width: auto;
  }

  .no-flexwrap .site-nav {
    text-align: inherit;
    width: 16rem;
  }
}

//
// PARTIALS
//

@import "_section";
@import "_flex";
@import "_loading";
@import "_thumbnail";
@import "_feed";
@import "_form";

//
// PAGE-SPECIFIC
//

@import "home";
@import "errors";