// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//
// #INTRO
//

#intro {
  margin-top: 2rem;
}

//
// #ABOUT
//
  
#about {
  .section-third h4 {
    margin: 0;
  }
    
  .section-third i {
    color: $red;
  }  		
}
  
//
// #PROJECTS
//

@for $n from 1 through 6 {
  #projects div:nth-of-type(#{$n}) .thumbnail-image {
    background: image-url("projects/thumbnails/" + $n + ".png") no-repeat center center;
  }
}

//
// #FEEDS
//
  	
#feeds img {
  max-height: 20rem;
  max-width: 100%;
}

//
// #CONTACT
//

#contact .section-third h4 {
  text-align: left;
}
	
//
// #PROJECT
//

#project {
  margin-top: 2rem;
  padding: 5% 15%;
  text-align: left;

  .section-title {
    margin: 0 0 .5rem 0;
  }

  .section-subtitle {
    font: 200 1rem/1.4rem $font;
    margin: 0 0 2rem 0;
  }

  .section-third--quadruple {
    .image {
      border: 1px solid $gray;
      height: 40rem;
      width: 100%;

      @for $n from 1 through 6 {
        &.i#{$n} {
          background: image-url("projects/" + $n + ".png") no-repeat center center;
        }
      }
    }
  }

  blockquote {
    font: 200 1.6rem/2rem $font;
    margin: 0 auto;
  }
}

//
// MEDIA QUERIES
//

@media screen and (min-width: 50em) {
  #intro {
    margin-top: 5rem;
  }
  
  #feeds img {
    max-height: 100%;
  }
  
  #project {
    margin-top: 6.8rem;
  }
  
  #project blockquote {
    font: 200 1.7rem/2.1rem $font;
  }
}